.next-button {
  background-color: $pink-color;
  color: $blush-color;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px 0;

  &:focus {
    outline: none;
  }

  &-disabled {
    opacity: 0.5;
  }
}