.current {
  &-image {
    border-radius: 10px;
    width: 200px;
    position: relative;
    left: 50%;
    margin-left: -100px;

    @include media-medium {
      position: static;
      margin-left: 0;
      width: 200px;
    }

    @include media-large {
      // width: 280px;
    }

    @include media-extra-large {
      // width: 330px;
    }
  }

  &-block {
    background-color: $blush-color;
    margin: 0;
    border-radius: 10px;
  }

  &-name {
    color: $white-color;
    font-size: 1.8rem;
    text-align: center;

    @include media-medium {
      text-align: start;
      margin-left: 0;
      width: 200px;
    }
  }
}