//Colors
$blue-color: #94BCCE;
$pink-color: #DBA0A7;
$dark-color: #271B31;
$white-color: #F9FBF1;
$blush-color: #B0436F;

// Sizes
$xl-screen: 1200px;
$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 576px;

//input letters 
$true-letter-color: #00861d;
$calm-mistake-color: #fdc54d;
$dangerous-mistake-color: #c20000;
