//Colors
$blue-color: #94BCCE;
$pink-color: #DBA0A7;
$dark-color: #271B31;
$white-color: #F9FBF1;
$blush-color: #B0436F;

// Sizes
$xl-screen: 1200px;
$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 576px;

//dots
$true-color: #29ad46;
$calm-color: #d3aeb2;
$dangerous-color: #fa3131;

$rhap_theme-color: #bd4c4c;   // Color of all buttons and volume/progress indicators 
$rhap_background-color: rgb(116, 79, 79)!important; // Color of the player background 
$rhap_bar-color: #e4e4e4;     // Color of volume and progress bar 
$rhap_time-color: rgb(63, 9, 50)!important;       // Font color of current time and duration 
